node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
shadcn-svelte-main/
shadcn-svelte-main.zip
CLAUDE.md
/.claude

*.excalidraw*
**/Excalidraw/
**/.excalidraw/