---
title: "CDV2025: Introduction to Dataviz"
date: "Fall 2023"
description: "Course syllabus for cdv2025: Introduction to Data Visualization"
published: true
section: "Course Info"
order: 1
---

# CDV2025: Introduction to Data Visualization

### Instructor Information
- **Name:** Aman Bhargava
- **Email:** amanbhargava2001+cdv2025@gmail.com
- **Office Hours:** Monday-Saturday 2-5pm, or by email

### What is this class?


This module gives you a broad intro to data viz. We'll start with the basics—wrestling with spreadsheets, understanding data structures, and figuring out how summary stats help us spot patterns. These technical bits might seem dry at first, but they're actually the building blocks for everything that follows.

As we go, you'll learn how to transform abstract numbers into visual patterns that make sense to human brains. We'll practice questioning our data, digging for interesting insights, and turning those discoveries into graphics that actually communicate something meaningful.

Us by the end of this class: 

<iframe width="100%" height="315" src="https://www.youtube.com/embed/ZArgEvK2R1s?si=qOEEDD7Yh4PN9UOa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

### How will this class work?

This website serves as a home for all content related to the course. 

We'll have a small "lecture" (god, I hate the term) every day and some in-class activities. I will monologue for some part of the class, but we'll also work within groups of 4 to do exercises and presentations. At most, the classes will end between 12-1 PM, after which you're free to work in class or do whatever you must. There are small assignments due every day, though, so I recommend using the afternoons for that. 

Each day there will be some amount of reading (which includes watching videos as well as online resources). I expect you to try to learn as much as possible from this. I will not ask you to write reflections, so you may well not read any of these, but then…what's the point?

The 'Readings' and 'Assignment' section have a way for you to mark your progress by pressing nifty little buttons. Marking something as submitted there does _not_ count as a submission, this is just a way for you to track your progress on your laptop. I think it's nice to have a clear list of expectations, so I built it for you to keep yourself accountable.

**Please bring your laptops to class every day**, along with a supply of markers, pens, pencils and unruled paper (notebooks, A4 sheets, whatever works for you).

### What tools are we learning? 

I think this is an important and valid question that I used to have in design school as well. All of us want to walk away with something tangible that we learnt. This class will help you learn the principles of designing visualizations, and the process of going from data to visuals. We'll explore the choices you have in how to make them, too.

In terms of tangible tools, we'll learn to work with [Orange](https://orangedatamining.com), which is a tool for visually exploring data. Our spreadsheet software of choice will be [Google Sheets](https://sheets.google.com), where we can manually explore cleaning data and even explore basic charts. For charting, we'll use [Datawrapper](https://datawrapper.de) and [RAWGraphs](https://rawgraphs.io) and also use [Figma](https://figma.com) or Adobe Illustrator (your choice) for making our visualizations look nicer.

However, we'll **only** be able to get a basic introduction to all of these tools at best. It is not feasible to guide the class through all the nooks and crannies of these tools, and it will be up to you to explore your toolboxes in greater detail. We'd like to focus instead on getting solid, common grounding together, which you can implement with any tool of your choice. Like with anything in design, you must practice learning.

### Grading
- **Assignments (30%)**: Daily assignments
- **Final Project (50%)**: Final group project and presentation
- **Participation (20%)**: In-class activities and discussions

### House Rules
- **Attendance**: Regular attendance is expected. Each day includes an essential part of the module which will be required for successfully finishing your final project. Missing any one of these will leave you disadvantaged.
- **Late Assignments**: Assignments submitted late will receive a penalty per day.
- **AI Policy**: All submitted work must be your own. If you're using any sort of LLM for Q/A about a _technical_ part of the process and not the output itself, that is acceptable as long as it is **clearly declared to what extent an LLM was used**. Submissions that are suspected to be LLM-generated will be ignored and not considered.

